/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-size: 18px; /* Set the desired default font size */
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 0 20%;
}

.header-image {
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 0px; /* Add a margin at the bottom to create space for the text */
}

.content {
    flex-grow: 1;
    padding: 0 20px;
}

.div {
    width: 300px;
    align: center;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
}

pre {
    background-color: #f5f5f5;
    padding: 0px;
    font-family: Consolas, monospace;
}

.centered-section {
    text-align: center;
    margin-top: 20px;
}

pre {
    max-height: 300px;
    overflow-y: auto; /* 添加滚动条，只在内容溢出时显示 */
    /* 这里可以添加其他样式，比如字体大小、边框等 */
}


/* 使用媒體查詢適應不同螢幕寬度 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content {
        padding: 20px;
    }

    #skillBarChart {
        font-size: 12px; /* Adjust the font size for smaller screens */
    }
}
