/* styles.css */
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 0 20%;
}


.header-image {
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 20px; /* Add a margin at the bottom to create space for the text */
}

.content {
    flex-grow: 1;
    padding: 0 20px;
}

.div {
    width: 300px;
    align: "center";
}

.language-link {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    text-decoration: underline
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Change height to min-height to allow for content expansion */
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
    font-family: Consolas, monospace;
}

/* 使用媒體查詢適應不同螢幕寬度 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content {
        padding: 20px;
    }
}
